.work{
    overflow: hidden;
    position: relative;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0A2FB1);
    border-radius: 50px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}

.layer button{
    margin-top: 5px;
    color: #0A2FB1;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    background: #fff;
    width: 80px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}


.contact-left{
    flex-basis: 35%;
}

.contact{
    flex-basis: 60%;
}

.contact-left p img{
    margin-right: 15px;
    font-size: 25px;
    width: 20px;
    display: inline-block;
}

.socialicon{
    margin-top: 30px;
}

.socialicon button{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  width: 30px; 
  transition: transform 1.0s;
}

.socialicon button:hover{
    color: #0A2FB1;
    transform: translateY(-10px);
}

.contact form{
  width: 100%;
  margin-top: 40px;   
}

form input, form textarea{
    width: 80%;
    /* margin-top: 30px; */
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    margin-left: 20px;
}